@media screen and (min-width: 500px) 
{
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav  {
        display: flex;
		justify-content: flex-end;
		flex-direction: row;
        width: 100%;
        list-style: none;
        padding: 0;

	}

    nav li {
        margin: 0 1rem
    
      
    }

	nav a {
        color: black;
        text-align: center;
	    padding:1rem;
        text-decoration: none;
	}

    main { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }
  img {
    width: 300px;
  }

  h2
  {
    text-align: center;
  }

  .hamburger {
    display: none; /* Hidden by default */
    font-size: 3em; /* Size of the hamburger icon */
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer on hover */
}

}
