@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary-color: #006d77   ;
    --secondary-color: #83c5be ;
    --accent1-color: #edf6f9;
    --accent2-color: #fffeae ;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    overflow-x: hidden;

}
header, main, footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}


header, footer {
    background-color: #83c5be;
	display: flex;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}



h1 {
    white-space: nowrap;
    overflow:visible;
    font-size: 2em;
    margin: 0;
}

nav { 
    background-color: #83c5be;
	display: flex;
    justify-content: space-around;
    padding: 0;
	flex-direction: column;
    list-style: none;
    font-size: 25px;
}


nav a {
	color: white;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav li {
    margin: 0 1rem;
}

nav .dropdown {
    display: none;
    position: absolute;
    left:0;
    background-color: #83c5be;
    padding: 0;
    list-style: none;
    z-index: 1000;
}

nav a:hover { 
    text-decoration: underline;
    background-color: #fffeae;
    color: black;
    }
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

section {
    padding: 1rem;
    background-color: #83c5be;

}
.hamburger {
    display: block;
}
